__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pip-log.txt
pip-delete-this-directory.txt

.coverage
.coverage.*
.cache
.pytest_cache/

.ipynb_checkpoints

celerybeat-schedule

.env

.mypy_cache/
